<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Gesture Connect Configuration</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='scss/configuration.css') }}"
    />
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/configuration.js') }}"></script>
  </head>
    <button id="back-btn" class="button back-btn" onclick="changePage('.')">
      Back
    </button>
    <button id="save-btn" class="button save-btn" onclick="save()">
      Save
    </button>
    <button id="reload-btn" class="button reload-btn" onclick="changePage('/configuration')">
      Reload
    </button>
    <button id="quit-btn" class="button quit-btn" onclick="tabClosed()">
      Quit
    </button>

    <div class="all_items">
      <div id="left_items" class="container">
        <h1>Left</h1>
        <button id="left_add" class="button add-button" onclick="addItem('left')">
          +
        </button>
      </div>

      <div id="either_items" class="container">
        <h1>Either</h1>
        <button id="either_add" class="button add-button" onclick="addItem('either')">
          +
        </button>
      </div>

      <div id="right_items" class="container">
        <h1>Right</h1>
        <button id="right_add" class="button add-button" onclick="addItem('right')">
          +
        </button>
      </div>
    </div>
  </body>
</html>
