$main-bg: #222;
$second-bg: #333;
$primary: cyan;

$inactive-bg: #444;
$hover-bg: #383838;
$active-bg: #333;
$border-color: #e0e0e0;

.quit-btn {
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.back-btn {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  background: $main-bg;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: $primary;
}

/* If you are using any images or divs that you also want to center */
img,
div {
  margin: 0;
}

.button {
  border: none;
  background-color: $inactive-bg;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 5px;
  color: $primary;

  text-decoration: none;

  &:hover {
    background-color: $hover-bg;
  }
}
