@import 'base';

.all_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px; /* Gap between items */
  //background-color: $second-bg;
}

.item {
  background-color: $second-bg;
  border: 1px solid #ccc; /* Adds a border around each item */
  padding: 10px; /* Adds some padding inside each box */
}

.add-button {
  width: 100%;
  font-size: 2em;
  border: none;
  background: none;
}